In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [7]:
dataset = pd.read_csv('./datasets/states_cleaned_data.csv')

In [8]:
dataset.head()

          type            flavor   state index type  year   index
0  traditional  all-transactions  Alaska  index_nsa  1975  200.74
1  traditional  all-transactions  Alaska  index_nsa  1976  295.63
2  traditional  all-transactions  Alaska  index_nsa  1977  313.37
3  traditional  all-transactions  Alaska  index_nsa  1978  344.02
4  traditional  all-transactions  Alaska  index_nsa  1979  379.99

In [13]:
for i in ['type', 'flavor', 'state']:
    dataset[i] = LabelEncoder().fit_transform(dataset[i])

In [14]:
dataset.head()

   type  flavor  state index type  year   index
0     1       0      1  index_nsa  1975  200.74
1     1       0      1  index_nsa  1976  295.63
2     1       0      1  index_nsa  1977  313.37
3     1       0      1  index_nsa  1978  344.02
4     1       0      1  index_nsa  1979  379.99

In [15]:
dataset.to_csv("preprocessed_counties_data.csv")